* {
  margin: 0;
  padding: 0;
  border: 0;
}

.container{
  display: block;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}
.row{
  display: flex;
  justify-content: space-between;
}
.column{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form{
    position: relative;
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    user-select: none;
  &__text{
    margin: 0 0 5px;
    text-transform: uppercase;
  }
  &__text p{
    margin: 0 0 2px;
  }
  &__in{
    width: 100%;
    padding: 0 15px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px 4px 0 0;
    box-sizing: border-box;
    position: relative;
  }
  &__in:hover{
    border: 1px solid rgba(31, 32, 65, 0.5);
    outline: none;
  }
  &__in:focus{
    border: 1px solid rgba(31, 32, 65, 0.5);
    outline: none;
  }
  &__button{
    width: 10px;
    height: 10px;
    border: solid #000;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    position: absolute;
    z-index: 1000;
    background: 0;
    right: 15px;
    top: 15px;
    transition: all ease .2s;
  }
  &__button-active {
    transform: rotate(135deg);
  }
  &__dropdown{
    border: solid rgba(31, 32, 65, 0.25);
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 4px 4px;
    transition: all .2s ease;
  }

}

.dropdown {
    position: relative;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 6px 13px 7px;
    flex-direction: column;
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 0 0 7px;
    }
    &__text {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      color: #1F2041;
    }
    &__menu {
      display: flex;
      align-items: center;
    }
    &__button {
      width: 30px;
      height: 30px;
      border: solid #222222 1px;
      border-radius: 50%;
      background: 0;
      cursor: pointer;
    }
    &__arrow {
      cursor: pointer;
    }
    &__button:first-child::after{
      content: '-';
    }
    &__button:last-child::after{
      content: '+';
    }
    &__out {
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      margin: 0 10px;
      width: 32px;
    }
    &__button-count {
      box-sizing: border-box;
      padding: 7px 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &__button-count p {
      color: #BC9CFF;
      font-size: 15px;
      text-transform: uppercase;
      cursor: pointer;
    }
    &__button-count p:first-child{
      opacity: 0;
    }
}
.dropdown:last-child{
  margin: 0;
}

.TextField, .DropDown{
  position: relative;
  margin-bottom: 30px;
}

.CheckBox{
  &__list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  &__item input{
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
}
